flows/Pradeep.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pradeepa</name>
        <label>Pradeepa</label>
        <locationX>589</locationX>
        <locationY>312</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>UpdateRecords1</targetReference>
        </connector>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Pradeep {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pradeep</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>pradeepab</name>
        <label>pradeepab</label>
        <locationX>270</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pradeep</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>IsNull</operator>
            <value>
                <elementReference>Pradeepa</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pradeep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Test</description>
        <name>UpdateRecords1</name>
        <label>UpdateRecords1</label>
        <locationX>746</locationX>
        <locationY>338</locationY>
        <inputReference>pradeepab</inputReference>
    </recordUpdates>
    <screens>
        <name>Pradeep</name>
        <label>Pradeep</label>
        <locationX>428</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pradeepa</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>pradeepab</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
